@use "../../styles/variable.scss" as *;

.header {
  height: 90px;
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  h1 {
    font-size: 20px;
    font-weight: 600;
    color: white;
  }

 .logo-img {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s;
  }

  .base {
    opacity: 1;
  }

  .hover {
    opacity: 0;
  }

  &:hover .base {
    opacity: 0;
  }

  &:hover .hover {
    opacity: 1;
  }
}



  .right {
    display: flex;
    align-items: center;
    gap: 16px;

    .icone {
      cursor: pointer;
      font-size: 22px;
      color: white;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
