@use "../../styles/variable.scss" as *;

.footer{
    height: 60px;
    background-color: $blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

