.blocos {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bloco {
  display: flex;
  gap: 20px;

  img {
    width: 200px;
    height: 150px;
    object-fit: cover;
  }
}

.slider {
  height: 250px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
